#header {
  border-top: 5px solid #d3313a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 68px;
  padding-bottom: 41px;
}

.logo__img img {
  width: 260px;
}

.menu_list {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  font-weight: 500;
}
.menu_list li {
  margin-left: 90px;
}
