@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hubballi&family=Noto+Sans+KR:wght@400;500&display=swap");
@import url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff");

@import "reset.css";
@import "variable.css";

/* Components */
@import "./components/nav-bar.css";
@import "./components/main-banner.css";
@import "./components/main-btn.css";
@import "./components/video.css";
@import "./components/aside.css";
@import "./components/sns-btn.css";
@import "./components/main-menu.css";
@import "./components/community.css";
@import "./components/footer.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR";
  font-weight: 500;
  height: 1000vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.red_zone {
  color: var(--red);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
