#header {
  border-top: 5px solid var(--red);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px var(--padding_left_right);
  padding-bottom: 41px;
}

.logo__img img {
  width: 260px;
}

.menu_list {
  display: flex;
  align-items: center;
  font-size: 1.25em;
}
.menu_list li {
  margin-left: 90px;
}
